html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自訂樣式 */

body {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-weight: 300;
  color: #4a4a4a;
}

.wrap {
  width: 1024px;
  margin: auto;
}

/* 個人基本資訊 */

header {
  display: flex;
  background: url(asset/img-headerShape.png) no-repeat center center;
  background-size: cover;
  min-height: 400px;
}

.avatar, .contact {
  margin-left: 13%;
  margin-top: 125px;
}

.avatar img {
  border-radius: 50%;
  margin: 0 auto 10px;
}

.avatar h1 {
  font-size: 56px;
  margin-bottom: 10px;
  color: #000;
}

.eng-name, .profession {
  font-size: 14px;
  /* color: #4a4a4a; */
  text-align: center;
  margin-bottom: 10px;
}

.contact a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.contact .fa {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  width: 42px;
  height: 42px;
  text-align: center;
}

/* 網頁技術 */

#skill {
  margin-top: 130px;
}

#skill h2 {
  font-size: 24px;
  color: #1736dc;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
 
.skill-cards {
  display: flex;
  justify-content: center;
}

.skill-cards .card {
  width: 284px;
  height: 276px;
  margin-right: 17px;
  box-sizing: border-box;
  border-bottom: 6px solid #000;
  border-radius: 6px;
  box-shadow: 0 1px 5px #aaa;
}

.skill-cards .card-icon {
  text-align: center;
  margin: 25px 0;
} 

.skill-cards .card-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}

.skill-cards .list {
  text-align: center;
  list-style: inside;
}

.skill-cards .list li {
  font-size: 10px;
  line-height: 1.4;
}

.skill-cards .card1 {
  border-color: #f58d23;
}

.skill-cards .card2 {
  border-color: #539e43;
}

.skill-cards .card3 {
  border-color: #6762a6;
}